## Data files and data directories
TEDS_*
testing*
data/*
boundary_data/*
census_variables.csv
NOMIS_API_KEY

## Project specific shell script
run.sh

# cache dirs
__pycache__/
.pytest_cache/

# other
.travis.yml
